.core-form-step-form,
.core-form-tab-form {
  background: #fff;
  padding: 40px 24px;
  position: relative;
  &-body {
    padding: 40px 20px;
  }
  &-footer {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    height: 57px;
    padding: 0 24px;
    align-items: center;
    border-top: 1px solid #f5f5f5;
  }
}

.core-form-tab-form {
  padding: 0;
  .core-form-step-form-body {
    padding: 0 20px;
    padding-bottom: 60px;
  }
  .core-form-step-form-header-tabs {
    .ant-tabs-nav-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .ant-tabs-tab {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
