.core-form-editable-table .core-form-editable-table-field {
  margin: 0;
  height: 20.5px;
  position: relative;
  top: -4px;
}
.core-form-editable-table .arco-form-item{
  margin-bottom: 0;
}
.core-form-editable-table .arco-table-td{
  height: 44px;
  padding: 0 16px;
}
.core-form-editable-table .core-form-editable-table-field .arco-form-item-label,
.core-form-editable-table .core-form-editable-table-field .arco-form-item-explain-error {
  display: none;
}
.core-form-editable-table .editable-table-footer-btn,
.core-form-editable-table .editable-table-footer-btn-disabled {
  width: 100%;
  margin: 12px 0;
  color: rgb(var(--primary-6));
}
.core-form-editable-table .editable-table-footer-btn-disabled {
  color: rgba(0, 0, 0, 0.251) !important;
}
.row-dragging .arco-table-td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #fff;
  max-height: 44px;
  padding: 6px 16px;
  width: 240px;
}